<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
  <!--  <div class="navbar navbar-inverse navbar-fixed-top navbar-dark bg-dark mt-0">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class"navbar-brand">CONTROL NUTRICIONAL</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li>@Html.ActionLink("Contacto", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div> -->

    <nav class = "navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> CENTRO NUTRICIONAL </font> </ fuente> </a>
  <button class = "navbar-toggler" type = "button" data-toggle = "collapse" data-target = "# navbarColor01" aria-controls = "navbarColor01" aria-extended = "false" aria-label = "Navegación de palanca ">
    <span class = "navbar-toggler-icon"> </span>
  </button>

  <div class = "collapse navbar-collapse" id = "navbarColor01">
    <ul class = "navbar-nav mr-auto">
      <li class = "nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Home")"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Home </font> </font> <span class = "sr-only"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> (Actual) </font> </font> </ span > </a>
      </li>
        <li class = "nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Estado_Agenda")"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Estado Agenda </font> </font> <span class = "sr-only"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> (Actual) </font> </font> </ span > </a>
      </li>
        <li class = "nav-item active">
        <a class="nav-link" href="@Url.Action("Index","Home")"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> Home </font> </font> <span class = "sr-only"> <font style = "vertical-align: heredar;"> <font style = "vertical-align: heredar;"> (Actual) </font> </font> </ span > </a>
      </li>
      
    </ul>
    
  </div>
</nav>
    
        @RenderBody()
        
        
    

    <footer class="text-center">
        <hr />
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Content/alertifyjs/alertify.min.js"></script>
</body>
</html>
