
@model nutricion_examen.Models.Paciente
@{ 
    ViewBag.Title = "Ficha del Paciente";
}

    <div class="col-md-12 col-sm-6">
        <div class="card card-warning">
            <div class="card-header">
                <h3 class="card-title">Generar Ficha Paciente</h3>
            </div>
            <div class="card-body">
                <form>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <input type="hidden" id="id_paciente" value="@Model.Id_Paciente" />
                            <label>Rut</label>
                            <input type="text" class="form-control" id="rut" value="@Model.Rut" disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Nombre</label>
                            <input type="text" class="form-control" id="nombre" value="@Model.Nombre" disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Apellido</label>
                            <input type="text" class="form-control" id="apellido" value="@Model.Apellido" disabled>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Género</label>
                            <input type="text" class="form-control" id="genero" value="@Model.Genero" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Antecedentes</label>
                            <input type="text" class="form-control" id="antecedentes">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Alergias</label>
                            <input type="text" class="form-control" id="alergias">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Enfermedades</label>
                            <input type="text" class="form-control" id="enfermedades">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Observaciones</label>
                            <input type="text" class="form-control" id="observaciones">
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Peso</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="peso" placeholder="Ej: 50,5">
                                <span class="input-group-text" id="basic-addon2">Kg</span>
                            </div>
                        </div>

                        <div class="form-group col-md-3">
                            <label>Talla</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="talla" placeholder="Ej: 1,60">
                                <span class="input-group-text" id="basic-addon2">Mts.</span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>IMC</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="imc" placeholder="" disabled>
                                <span class="input-group-text" id="basic-addon2">Kg/mt2</span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Diagnóstico</label>
                            <input type="text" class="form-control" id="diagnostico" placeholder="" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Peso Ideal</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="peso_ideal" placeholder="" disabled>
                                <span class="input-group-text" id="basic-addon2">Kg.</span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Peso Máximo Aceptable</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="peso_max" placeholder="" disabled>
                                <span class="input-group-text" id="basic-addon2">Kg.</span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Peso Ajustado</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="peso_ajustado" placeholder="" disabled>
                                <span class="input-group-text" id="basic-addon2">Kg.</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Circunferencia de Cintura</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="cc" placeholder="Ingrese medida en centímetros">
                                <span class="input-group-text" id="basic-addon2">cm.</span>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Clasificación</label>
                            <input type="text" class="form-control" id="clasificacion" placeholder="" disabled>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Requerimiento Basal</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="req_basal" placeholder="" disabled>
                                <span class="input-group-text" id="basic-addon2">Kcal/día</span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Peso requerido paciente</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="peso_req" placeholder="Ingreso peso requerido paciente">
                                <span class="input-group-text" id="basic-addon2">kg</span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Factor de Actividad</label>
                            <input type="text" class="form-control" id="fac_actividad" placeholder="Ingrese factor de actividad">
                        </div>

                        <div class="form-group col-md-3">
                            <label>Requerimiento Total</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="req_total" placeholder="" disabled>
                                <span class="input-group-text" id="basic-addon2">Kcal/día</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Requerimiento Proteinas</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="req_proteinas" placeholder="Ingrese cantidad proteínas">
                                <span class="input-group-text" id="basic-addon2">grs/día</span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Requerimiento Carbohidratos</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="req_carbohidratos" placeholder="Ingrese cantidad carbohidratos">
                                <span class="input-group-text" id="basic-addon2">grs/día</span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Requerimiento Lípidos</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="req_lipi" placeholder="Ingrese cantidad lípidos">
                                <span class="input-group-text" id="basic-addon2">grs/día</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>AMDR Proteínas</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="amdr_prot" placeholder="Ingrese adecuación">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                        <div class="form-group col-md-4">
                            <label>AMDR Carbohidratos</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="amdr_carbo" placeholder="Ingrese adecuación">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label>AMDR Lípidos</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="amdr_lipi" placeholder="Ingrese adecuación">
                                <span class="input-group-text" id="basic-addon2">%</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label>Próximo Control</label>
                            <input type="date" class="form-control" id="fech_prox_control">
                        </div>
                        <div class="form-group col-md-4">
                            <label>Fecha Creación Ficha</label>
                            <input type="text" class="form-control" id="fech_creacion" disabled>
                        </div>
                        <div class="form-group col-md-4">
                            <label>Nombre Nutricionista</label>
                            <input type="text" class="form-control" id="nutricionista" disabled>
                        </div>
                    </div>

                    <div class="form-group">
                        <span class="btn btn-primary" id="btnSave"><i class="fas fa-check"></i> Guardar</span>
                    </div>
                </form>
            </div>




        </div>
        
        <div class="panel panel-default">
            <div class="panel-body" id="panelEncuesta">
                @Html.Partial("_EncuestaR24H");
            </div>
        </div>
    </div>



@section scripts{
    <script type="text/javascript">
        //$("#btnSave").click(function (e) {
        $('#panelEncuesta').hide();
        //    e.preventDefault();
        //});
        $(document).ready(function () {
            //cargarItems(34);
        });
        $('#btnSave').click(function () { //llave apertura
            //creamos el objeto que se le debe enviar al SP

            var id = $('#id_paciente').val();

            var fmp = {
                Ant_Familiares: $("#antecedentes").val(),
                Alergias: $("#alergias").val(),
                Enfermedades: $("#enfermedades").val(),
                Peso: $("#peso").val(),
                Talla: $("#talla").val(),
                Req_Prot: $("#req_proteinas").val(),
                Req_Cho: $("#req_carbohidratos").val(),
                Req_Lip: $("#req_lipi").val(),
                Prox_Control: $("#fech_prox_control").val(),
                Circ_Cint: $("#cc").val(),
                Observaciones: $("#observaciones").val(),
                Req_Fac_Act: $("#fac_actividad").val(),
                Amdr_Prot: $("#amdr_prot").val(),
                Amdr_Cho: $("#amdr_carbo").val(),
                Amdr_Lip: $("#amdr_lipi").val(),
                Id_Paciente: id,
                Peso_Requerido: $("#peso_req").val(),
                Id_Nutricionista: '4'

            }

            $.ajax({
                url: '@Url.Action("Create","FichaMedica")',
                method: 'post',
                data: fmp,
                success: function (r) {

                    if (r.res == 1) {
                        //llamamos a la funcion que retorna los calculos
                        return_Calculos(id);
                        $('#panelEncuesta').show();
                    } else {
                        alertify.error("Ha Ocurrido un Error: " + r.res);
                        console.log(r.res);
                    }
                       

                }


            });
        });
            //Funcion que etorna los datos de la ficha medica

            function return_Calculos(id_paciente) {
                var id = id_paciente;

                //hacemos la peticion mediante Ajax.

                $.ajax({
                    url: '@Url.Action("ReturnCalculos", "FichaMedica")',
                    data: 'id=' + id,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {

                        var datos = data.data;

                        $(datos).each(function (i, f) {
                            $('#antecedentes').val(f.Ant_Familiares);
                            $("#alergias").val(f.Alergias);
                            $('#imc').val(f.Imc)
                            $("#enfermedades").val(f.Enfermedades);
                            $('#diagnostico').val(f.Diagnostico);
                            $('#clasificacion').val(f.Clasi_CC);
                            $('#fech_creacion').val(f.Fecha_Creacion);
                            $("#peso").val(f.Peso);
                            $('#peso_ideal').val(f.Peso_Ideal);
                            $('#peso_max').val(f.Peso_Max);
                            $('#peso_ajustado').val(f.Peso_Ajustado);
                            $("#talla").val(f.Talla);
                            $("#req_proteinas").val(f.Req_Prot);
                            $("#req_carbohidratos").val(f.Req_Cho);
                            $("#req_lipi").val(f.Req_Lip);
                            $('#req_basal').val(f.Req_Formula);
                            $('#req_total').val(f.Req_Total);
                            $("#fech_prox_control").val(f.Prox_Control);
                            $("#cc").val(f.Circ_Cint);
                            $("#observaciones").val(f.Observaciones);
                            $("#fac_actividad").val(f.Req_Fac_Act);
                            $("#amdr_prot").val(f.Amdr_Prot);
                            $("#amdr_carbo").val(f.Amdr_Cho);
                            $("#amdr_lipi").val(f.Amdr_Lip);
                            $("#id_paciente").val(f.Id_Paciente);
                            $("#peso_req").val(f.Peso_Requerido);
                            $("#nutricionista").val(f.Nombre_Nutri);
                            $("#id_ficha").val(f.Id_Ficha);
                        });
                    }
                });

            }

            //datos para el retorno de los calculos

        //datos que controla formulario de partial View


        function insertEncuesta() {
            $('#btnGuardar').click(function (e) { //llave apertura
                e.preventDefault();
            });
            //creamos el objeto que se le debe enviar al SP
           
                var encuesta = {
                Dia_De_Semana: $("#dia_semana").val(),
                Hora: $("#hora").val(),
                Minuta: $("#minuta").val(),
                Ingredientes: $("#ingredientes").val(),
                Medidas_Caseras: $("#medidas_caseras").val(),
                Cantidad_Gr_Ml_Total: $("#cantidad").val(),
                Observaciones: $('#observacion').val(),
                Id_Ficha:$("#id_ficha").val()

           }
           console.log(encuesta);

            $.ajax({
                url: '@Url.Action("Create","EncuestaR24H")',
                type: 'post',
                data: encuesta,
                dataType:'json',
                success: function (r) {
                    if (r.res == 1) {
                        alertify.success("Encuesta creada");
                        cargarItems($('#id_ficha').val());//$('#id_ficha').val()
                       // return_encuesta($('#id_ficha').val());//$('#id_ficha').val()
                    } else {
                        console.log(r.res);
                        alertify.error("Ha ocurrido un Error: " + r.res);
                    }

                }


            });
        }


        function return_encuesta(id_ficha) {
                var id = id_ficha;

                //hacemos la peticion mediante Ajax.

                $.ajax({
                    url: '@Url.Action("ReturnEncuestaPorFicha", "EncuestaR24H")',
                    data: 'id=' + id,
                    type: 'post',
                    dataType: 'json',
                    success: function (data) {

                        var datos = data.data;

                        $(datos).each(function (i, f) {
                            $('#dia_semana').val(f.Dia_De_Semana);
                            $("#hora").val(f.Hora);
                            $('#minuta').val(f.Minuta)
                            $("#ingredientes").val(f.Ingredientes);
                            $('#medidas_caseras').val(f.Medidas_Caseras);
                            $('#cantidad').val(f.Cantidad_Gr_Ml_Total);
                            $('#observacion').val(f.Observaciones);
                            $("#id_ficha").val(f.Id_Ficha);

                        });
                    }
                });

        }


        function cargarItems(id) {
            //armamos la plantilla del body
            var incluye_plantilla = '<tr>'
                + '<td>#DIA#</td>'
                + '<td>#HORA#</td>'
                + '<td>#MINUTA#</td>'
                + '<td>#INGREDIENTES#</td>'
                + '<td>#MEDIDASCA#</td>'
                + '<td>#CANTIDAD#</td>'
                + '<td>#OBSERVACIONES#</td>'
                + '<td style="text-align: center;"><span class="btn btn-warning btn-xs" onclick="editarItem(#ID#)"><span class="fas fa-pen"></span></span></td>'
                + '</tr>';

            $.ajax({
                url: '@Url.Action("ReturnEncuestaPorFicha", "EncuestaR24H")',
                type: 'get',
                data: 'id='+id,
                success: function (r) {
                    console.log(r);
                    var dato = r.res;
                    if (dato != null) {
                        var row = "";
                        dato.forEach(function (i, index) {
                            if (i != null) {
                                var x = incluye_plantilla;
                                x = x.replace("#DIA#", i['Dia_De_Semana']);
                                x = x.replace("#HORA#", i['Hora']);
                                x = x.replace("#MINUTA#", i['Minuta']);
                                x = x.replace("#INGREDIENTES#", i['Ingredientes']);
                                x = x.replace("#MEDIDASCA#", i['Medidas_Caseras']);
                                x = x.replace("#CANTIDAD#", i['Cantidad_Gr_Ml_Total']);
                                x = x.replace("#OBSERVACIONES#", i['Observaciones']);
                                x = x.replace("#ID#", i['Id_R24h']);
                                row += x;
                            }
                        });

                          $('#resultEncuesta').html(' <thead>'
                                                          +'< tr >'
                                                          +'<th>Día</th>'
                                                          +'<th>Hora</th>'
                                                          +'<th>Minuta</th>'
                                                          +'<th>Ingredientes</th>'
                                                          +'<th>Medidas Caseras</th>'
                                                          +'<th>Cantidad</th>'
                                                          +'<th>Observaciones</th>'
                                                          +'<th>Editar</th>'
                                                          +'</tr >'
                                                    +'</thead ><tbody>'+row+'</tbody>');
                    }
                }
            });
        }

        function editarItem(id) {
            console.log(id);
        }

        //Calculos automaticos

        //IMC
        $('#talla').blur(function () {
            
            //console.log(($('#peso').val() / ($('#talla').val() * $('#talla').val())));
            $('#imc').val(($('#peso').val()/($('#talla').val() * $('#talla').val())));
        });


    </script>
}

