@model nutricion_examen.Models.Estado_Agenda

<div class="container mt-5">
    <div class="row">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Estado Agenda</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal mt-5">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
         
        <!--enviamos el id mediante un textbox razor escondido-->
        @Html.HiddenFor(model => model.Id_Estado)

        <div class="form-group">
            <h5>Nombre Estado</h5>

            @Html.EditorFor(model => model.Nombre_Estado, new { htmlAttributes = new { @class = "form-control" }})
                @Html.ValidationMessageFor(model => model.Nombre_Estado, "", new { @class = "text-danger" })
            
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Grabar" id="btnGrabar" class="btn btn-primary" />
            </div>
        </div>
    </div>
                }


            </div>
            <div class="card-footer">
                <div class="text-center">
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>

    </div>
</div>


@section scripts{
    <script type="text/javascript">
        $('#btnGrabar').click(function (e) {

            if ($('#nombre').val() == "") {
                alert("Este Campo no puede estar Vacio")
            }

        });
        
    </script>
}
