@model IEnumerable<nutricion_examen.Models.Estado_Agenda>

    <div class="container mt-5">
        <div class="row">
            
<!--<p class="btn btn-success">
    @Html.ActionLink("Create New", "Create")
</p>-->

            <a href="@Url.Action("Create","Estado_Agenda")" class="btn btn-success"> Nuevo Estado</a>
<table class="table table-hover">
    <tr class="text-center">
        <th>
            ID Estado
        </th>
        <th>
            Nombre Estado
        </th>
        <th>
            Acciones
        </th>
    </tr>

@foreach (var item in Model) {
    <tr class="text-center">
        <td>
            @Html.DisplayFor(modelItem => item.Id_Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Estado)
        </td>
        <td class="text-right">
            @Html.ActionLink("Edit", "Create", new { id=item.Id_Estado}, new {@class = "btn btn-warning" }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ },new {@class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ },new {@class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
        </div>
    </div>
