@model IEnumerable<nutricion_examen.Models.Estado_Agenda>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id_Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre_Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id_Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre_Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Create", new {  id=item.Id_Estado }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
