@model nutricion_examen.Models.Agenda
@{
    ViewBag.Title = "Posts3";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nutri la Vida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/Posts.css" />
    <link rel="shortcut icon" href="~/Content/img/broccoli2.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="~/Content/plugins/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/plugins/jquery-timepicker/jquery.timepicker.min.css" rel="stylesheet" />
</head>
<body>
    <!--Navbar-->
    <header>
        <div>
            <nav class="navbar container-fluid navbar-inverse fixed-top" style="background-color: #26ae11;">
                <a class="navbar-brand" href="@Url.Action("Index","FrontEnd")">Página principal</a>
                <a href="@Url.Action("Quien_soy","FrontEnd")">Acerca de mi</a>
                <a href="@Url.Action("Index","FrontEnd")#recetas">Recetas Saludables</a>
                <a href="@Url.Action("Index","FrontEnd")#servicios">Servicios</a>
                <a href="@Url.Action("Blog","FrontEnd")">Blog</a>
                <a href="#footer">Contacto</a>
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#modalagenda">
                    Agendar Hora
                </button>

                <form class="form-inline">
                    <a href="@Url.Action("Index","Home")" title="Administración"> <span><i class="fa fa-home"></i></span></a>
                </form>
            </nav>
        </div>
    </header>

    <main>
        <div class="titulo-post">
            <h1>Toma control sobre tus “limpiezas”</h1>
        </div>
        <section class="post-content" id="post-content">
            <div class="content">
                <article class="post">
                    <div class="post-header">
                        <div class="post-img-3"></div>
                    </div>
                    <div class="post-body">
                        <span>by Verónica Cardozo | 10 Junio, 2020 | Tips, Bienestar</span>
                        <p>
                            Los Détox que se realizan ocasionalmente ayudan a resetear tu cuerpo. Sin embargo, desintoxicarnos es algo que necesitamos día tras día, pues estamos
                            expuestos a una locura de combinaciones de químicos como pesticidas, antibióticos, hormonas y toxinas ambiental. Por eso, toma control sobre tus “limpiezas”.
                        </p>
                        <p>
                            Todo lo que necesitas saber son cuáles alimentos apoyan ese proceso de desintoxicación. Entre estos tenemos:
                        </p>
                        <ul>
                            <li>
                                Vegetales de hoja verde: col rizada (kale), brócoli, coles de Bruselas, repollo, bokchoi, lechuga romana, espinaca. Estos son los más poderosos. Consúmelos a diario.
                                Ya sea enteros o en jugo. 1 a 2 tazas al día. Estos vegetales contienen unos químicos llamados glucosinolatos que se descomponen a isotiosianatos (ITCs), los cuales
                                aumentan el poder del hígado para la desintoxicación y al mismo tiempo le dan a tu microbiota la mejor nutrición, además la fibra que ellos contienen ayudarán a
                                mantener tu intestino limpio y en movimiento.
                            </li>
                            <li>
                                Linaza en polvo: contiene lignanos, los cuales son degradados por la flora intestinal, uniéndose a los productos tóxicos de desecho y ayudando a eliminarlos.
                                Consume 1 a 2 cucharadas al día, ya sea en tu smoothie del día, cereal, sopa, etc. No la calientes.
                            </li>
                            <li>
                                Frutos rojos: fresas, arándanos rojos o azules, frambuesas, todos están cargados de antioxidantes, que luchan contra la inflamación.
                            </li>
                            <li>
                                Granada: está llena de antioxidantes, ¡es superpoderosa! Mejora la desintoxicación por parte del hígado y mantiene los niveles de colesterol y glucosa en sangre en equilibrio.
                            </li>
                            <li>
                                Aceite de oliva extravirgen: es rico en fenoles lo cual aumenta la producción de químicos desintoxicantes como el glutation. Mejora el colesterol y disminuye los químicos
                                inflamatorios que hace nuestro cuerpo, como el isoprostano. Puede disminuir el daño a nuestro ADN, pues actúa contra los radicales libres que se producen a diario debido a las
                                toxinas. Toma 2 cucharadas al día.
                            </li>
                            <li>
                                Alcachofa: tiene propiedades diuréticas y depurativas. Es alta en fitonutrientes y polifenoles, lo cual le confiere una potente propiedad antioxidante.
                                Incrementa la disponibilidad de químicos naturales desintoxicantes que produce el organismo, en especial en el hígado. También puedes consumir el extracto
                                de alcachofa (320-600 mg 3 veces al día)
                            </li>
                            <li>
                                Chocolate oscuro: además de mejorar el estado de ánimo y mantener tus niveles de colesterol y presión arterial estables, es un PLUS para tu desintoxicación.
                                Tiene flavonoides, polifenoles y flavanoles. ¡Sí! 40 gr de chocolate oscuro al día, que contenga 70% de cacao o más.
                            </li>
                            <li>
                                Cúrcuma: es famosa por su habilidad para la desintoxicación natural y su poder antinflamatorio. Ella ayuda a enlentecer su acción de degradar los químicos tóxicos
                                par nuestro organismo, de tal manera que no se crean los metabolitos tóxicos intermediarios cuando las dos fases de la desintoxicación hepática no están sincronizadas.
                                Además mejora la capacidad de nuestro cuerpo para producir los antinflamatorios naturales. En extracto la puedes ingerir de 1000 a 2000 mg al día y en tu cocina puedes
                                utilizar de 2 a 10 gr diarios.
                            </li>
                            <li>
                                Té verde: ayuda a tu hígado a eliminar las toxinas y a la vez en un potente antioxidante, eliminando la inflamación. Puedes tomarlo en cápsulas de 200 mg o en té de
                                4 a 5 tazas al día. Si sufres de insomnio y taquicardia, evítalo.
                            </li>
                            <li>
                                Resverastrol: tiene efectos antioxidantes que ayudan a desintoxicarte y es un potente antinflamatorio. Lo encuentras en las uvas, frutos rojos, granada, cacao y vino tinto.
                                Puedes tomarlo como suplemento también (10-25 mg al día).
                            </li>
                        </ul>
                        <p>
                            Toma control sobre tus “limpiezas” consumiendo probióticos y alimentos fermentados, todo esto suma para tu desintoxicación, pues ayuda a que tu intestino absorba mejor los nutrientes.
                            Una microbiota saludable es indispensable para tu desintoxicación.
                        </p>
                    </div>
                    <div class="button-combeback-posts">
                        <a href="@Url.Action("Blog", "FrontEnd")" class="btn-single-page">VOLVER AL BLOG</a>
                    </div>
                </article>
            </div>
        </section>

        <!-- Modal Agenda -->

        <div class="modal fade" id="modalagenda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agenda</h4>
                        <form id="frmAgenda" class="form-normal" action="~/Agenda/Create" method="post">
                            <div class="form-group">
                                <label>Rut (sin guión)</label>
                                <input type="text" id="rut" name="rut" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" id="apellido" name="apellido" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Fecha de Nacimiento</label>
                                <input type="date" id="fechanac" name="fecha_nacimiento" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Número teléfono</label>
                                <input type="text" id="telefono" name="numero_tel" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Fecha cita</label>
                                <input type="text" id="fechcita" name="fecha_cita" class="form-control" placeholder="dd-mm-aaaa">
                            </div>
                            <div class="form-group">
                                <label>Hora cita</label>
                                <input type="text" class="form-control" id="horacita" name="hora_cita" placeholder="Seleccione la hora" required>
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="id_estado" name="id_estado" value="1" />
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" id="btnSave" class="btn-a btn-default" data-dismiss="modal" value="Agregar" />
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="contenedor-c">
            <h2 class="titulo">Contacto</h2>
        </div>
        <div class="contenedor-footer">
            <div class="content-foot">
                <h4>Teléfono</h4>
                <p>+562 2222222</p>
            </div>
            <div class="content-foot">
                <h4>E-Mail</h4>
                <p>contacto@nutrilavida.cl</p>
            </div>
            <div class="content-foot">
                <h4>Ubicación</h4>
                <p>Santiago, Región Metropolitana</p>
            </div>
        </div>
        <h2 class="titulo-final"> &copy; 2020 - Todos los Derechos Reservados.</h2>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>*@
    <script src="~/Content/plugins/jquery/jquery.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src=" disableSpecificDays.js "></script>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="~/Content/plugins/jquery-timepicker/jquery.timepicker.min.js"></script>
</body>
</html>

<script type="text/javascript">

    $('#btnSave').click(function(){
        //creamos el Objeto Agenda
        var agenda = {
        Id_Agenda : 0,
            Rut: $('#rut').val(),
            Nombre : $('#nombre').val(),
            Apellido:$('#apellido').val(),
            Fecha_Nacimiento: $('#fechanac').val(),
            Numero_Tel: $('#telefono').val(),
            Email:$('#email').val(),
            Fecha_Cita : $('#fechcita').val(),
            Hora_Cita : $('#hora').val(),
            Id_Estado : 1
        }
        console.log(agenda);
    //utilizamos Ajax para enviar el objeto al controlador que crea la Agenda

        $.ajax({
        url:'@Url.Action("Create","Agenda")',
        method:'post',
        data:agenda,

            success: function (r) {
                console.log(r.res);
         if(r.res == 1){
          alert("Agenda Creagada")
        }
        }
        });


    });

    $('#fechanac').blur(function () {
        var FechaNacimiento = $('#fechanac').val();
        var fechaNace = new Date(FechaNacimiento);
        var fechaActual = new Date()

        var mes = fechaActual.getMonth();
        var dia = fechaActual.getDate();
        var año = fechaActual.getFullYear();

        fechaActual.setDate(dia);
        fechaActual.setMonth(mes);
        fechaActual.setFullYear(año);

        edad = Math.floor(((fechaActual - fechaNace) / (1000 * 60 * 60 * 24) / 365));

        if (edad < 18) {
            alert("Usten no puede registrar una hora, ya que es menor de edad");

            $('#btnSave').prop("disabled", true);
        } else {
            $('#btnSave').prop("disabled", false);
        }
        return edad;
    });
</script>

<script type="text/javascript">
    $('#fechcita').datepicker({
        dateFormat: "dd-mm-yy",
        daysOfWeekDisabled: '0,6',
        lang: "es",
        todayHighlight: true,
        showAnim: "slide",
        minDate: 0,
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        dayNamesMin: ['Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa', 'Do'],
        beforeShowDay: function (date) {
            var dayOfWeek = date.getDay();
            // 0 : Lunes, 6 : Domingo, ...
            if (dayOfWeek == 0 || dayOfWeek == 6) return [false];
            else return [true];
        },
    });

    //TimePicker...
    $(document).ready(function () {
        $('#horacita').timepicker({
            timeFormat: 'H:i',
            step: 60,
            minTime: '9:00',
            maxTime: '18:00',
            disableTimeRanges: [
                ['13:00 pm', '14:00 pm'], ['14:00 pm', '15:00 pm']
            ]

        });
    });

</script>

