
@{
    ViewBag.Title = "Posts5";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nutri la Vida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/Posts.css" />
    <link rel="shortcut icon" href="~/Content/img/broccoli2.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">

</head>
<body>
    <!--Navbar-->
    <header>
        <div>
            <nav class="navbar container-fluid navbar-inverse fixed-top" style="background-color: #26ae11;">
                <a class="navbar-brand" href="@Url.Action("Index","FrontEnd")">Página principal</a>
                <a href="@Url.Action("Quien_soy","FrontEnd")">Acerca de mi</a>
                <a href="#">Recetas Saludables</a>
                <a href="#servicios">Servicios</a>
                <a href="@Url.Action("Blog","FrontEnd")">Blog</a>
                <a href="#footer">Contacto</a>
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#modalagenda">
                    Agendar Hora
                </button>

                <form class="form-inline">
                    <a href="@Url.Action("Index","Home")" title="Administración"> <span><i class="fa fa-home"></i></span></a>
                </form>
            </nav>
        </div>
    </header>

    <main>
        <div class="titulo-post">
            <h1>¿El cardio en ayunas es un arma contra la grasa?</h1>
        </div>
        <section class="post-content" id="post-content">
            <div class="content">
                <article class="post">
                    <div class="post-header">
                        <div class="post-img-6"></div>
                    </div>
                    <div class="post-body">
                        <span>by Verónica Cardozo | 25 Junio, 2020 | Cuerpo de Playa</span>
                        <p>
                            Ya sabes cuál es la razón por la cual el cardio en ayunas ayuda a perder grasa? Se debe a que al despertarte tus niveles de glucosa en sangre están bajitos
                            al igual que los de la insulina.
                        </p>
                        <p>
                            ¡En presencia de insulina no quemas grasa! Es decir, el cuerpo no libera al torrente sanguíneo los ácidos grasos para oxidarlos como energía cuando la insulina
                            está elevada. Tan solo 2 mg de carbohidrato por 100 ml es suficiente para que el páncreas segregue insulina.
                        </p>
                        <p>
                            Muchos se preguntarán: el carbohidrato genera una respuesta de insulina grande, pero ¿por qué no comer proteína? Porque, aunque la proteína genera una respuesta
                            mínima de insulina, el cuerpo la preferirá sobre la grasa como combustible. El cuerpo a través de gluconeogénesis puede convertir la proteína en glucosa y
                            utilizarla como combustible, y como estás en ayunas/déficit de insulina, cualquier cantidad de proteína, así sea mínima, detonará una gluconeogénesis.
                        </p>
                        <p>
                            Recuerda que la grasa para el cuerpo es una reserva de energía. ¡Es oro para el cuerpo! Aquello que te mantendrá vivo en estado de emergencia/hambruna extrema.
                            Por eso cuando estás muy cerca de tu meta, o en un peso sano y buscas definirte, perder estos últimos kilos o gramos de grasa es dificilísimo.
                        </p>
                        <p>
                            El cardio en ayunas es ideal para perder esos últimos 5 kg de grasa, ese cauchito terco que no se va.
                        </p>
                        <p>
                            No desgastas masa muscular si haces el cardio en ayunas correctamente. No esperes más de 15 min desde el momento que despiertas y no lo hagas a intensidad
                            elevada: que puedas mantener una conversación, que dure 40 minutos, no más.
                        </p>
                        <p>
                            Justo al terminar el cardio, desayuna proteína y un carbo complejo de bajo índice glicémico.
                        </p>
                        <p>
                            Lo que nunca debes hacer es entrenar con pesas sin haber comido, para entrenar debes comer proteína y carbohidratos antes.
                        </p>
                        <p>
                            Si tienes resistencia a la insulina o eres hipotenso no debes hacer el cardio en ayunas.
                        </p>
                        <p>
                            El tema del cardio en ayunas es controversial. Muchos estudios lo apoyan, pero cada loco con su tema.
                        </p>
                        <p>
                            Que cada quién siga aquello que le funciona porque cada cuerpo es diferente.
                        </p>
                    </div>
                    <div class="button-combeback-posts">
                        <a href="@Url.Action("Blog", "FrontEnd")" class="btn-single-page">VOLVER AL BLOG</a>
                    </div>
                </article>
            </div>
        </section>

        <!-- Modal Agenda -->

        <div class="modal fade" id="modalagenda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agenda</h4>
                        <form id="frmAgenda" class="form-normal" action="~/Agenda/Create" method="post">
                            <div class="form-group">
                                <label>Rut</label>
                                <input type="text" id="rut" name="rut" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" id="apellido" name="apellido" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Fecha de Nacimiento</label>
                                <input type="date" id="fechanac" name="fecha_nacimiento" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Número teléfono</label>
                                <input type="text" id="telefono" name="numero_tel" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Fecha cita</label>
                                <input type="date" id="fechcita" name="fecha_cita" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Hora cita</label>
                                <input type="text" id="horacita" name="hora_cita" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="id_estado" name="id_estado" value="1" />
                            </div>
                        </form>
                    </div>

                    <div class="modal-footer">
                        <input type="submit" id="btnSave" class="btn-a btn-default" data-dismiss="modal" value="Agregar" />
                    </div>

                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="contenedor-c">
            <h2 class="titulo">Contacto</h2>
        </div>
        <div class="contenedor-footer">
            <div class="content-foot">
                <h4>Teléfono</h4>
                <p>+562 2222222</p>
            </div>
            <div class="content-foot">
                <h4>E-Mail</h4>
                <p>contacto@nutrilavida.cl</p>
            </div>
            <div class="content-foot">
                <h4>Ubicación</h4>
                <p>Santiago, Región Metropolitana</p>
            </div>
        </div>
        <h2 class="titulo-final"> &copy; 2020 - Todos los Derechos Reservados.</h2>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>*@

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

<script type="text/javascript">

    $('#btnSave').click(function(){
        //creamos el Objeto Agenda
        var agenda = {
        Id_Agenda : 0,
            Rut: $('#rut').val(),
            Nombre : $('#nombre').val(),
            Apellido:$('#apellido').val(),
            Fecha_Nacimiento: $('#fechanac').val(),
            Numero_Tel: $('#telefono').val(),
            Email:$('#email').val(),
            Fecha_Cita : $('#fechcita').val(),
            Hora_Cita : $('#hora').val(),
            Id_Estado : 1
        }
        console.log(agenda);
    //utilizamos Ajax para enviar el objeto al controlador que crea la Agenda

        $.ajax({
        url:'@Url.Action("Create","Agenda")',
        method:'post',
        data:agenda,

            success: function (r) {
                console.log(r.res);
         if(r.res == 1){
          alert("Agenda Creagada")
        }
        }
        });


    });

</script>

