
@{
    ViewBag.Title = "Posts1";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nutri la Vida</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/Posts.css" />
    <link rel="shortcut icon" href="~/Content/img/broccoli2.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap" rel="stylesheet">

</head>
<body>
    <!--Navbar-->
    <header>
        <div>
            <nav class="navbar container-fluid navbar-inverse fixed-top" style="background-color: #26ae11;">
                <a class="navbar-brand" href="@Url.Action("Index","FrontEnd")">Página principal</a>
                <a href="@Url.Action("Quien_soy","FrontEnd")">Acerca de mi</a>
                <a href="#">Recetas Saludables</a>
                <a href="#servicios">Servicios</a>
                <a href="@Url.Action("Blog","FrontEnd")">Blog</a>
                <a href="#footer">Contacto</a>
                <button type="button" class="btn btn-default btn-lg" data-toggle="modal" data-target="#modalagenda">
                    Agendar Hora
                </button>

                <form class="form-inline">
                    <a href="@Url.Action("Index","Home")" title="Administración"> <span><i class="fa fa-home"></i></span></a>
                </form>
            </nav>
        </div>
    </header>

    <main>
        <div class="titulo-post">
            <h1>Concéntrate en los nutrientes y no en las calorías</h1>
        </div>
        <section class="post-content" id="post-content">
            <div class="content">
                <article class="post">
                    <div class="post-header">
                        <div class="post-img-1"></div>
                    </div>
                    <div class="post-body">
                        <span>by Verónica Cardozo | 1 Junio, 2020 | Tips</span>
                        <p>
                            Hoy en día muchas personas siguen creyendo que para perder grasa solo deben restringir calorías, distribuir los macronutrientes y
                            hacer ejercicio. Esto los lleva a comer cualquier alimento, sea procesado o no, mientras permanezcan en el rango de sus macros y calorías requeridas.
                        </p>
                        <p>
                            Si te enfocas en esto y ves que no rebajas nada, ¿qué haces? La mayoría de las personas piensan:
                        </p>
                        <p>
                            “Debo estar haciendo algo mal. Voy a hacer más ejercicio y comeré menos calorías de las que ya como; ¡eso debería funcionar!”
                            Aunque a muchas personas esto les funciona, también es cierto que a muchas otras, no, pues perder grasa va mucho más allá de contar calorías.
                            Necesitas tener tus hormonas en equilibrio, tu sistema digestivo en buen estado, tu hígado haciendo un buen trabajo de desintoxicación, tu sistema
                            nervioso equilibrado (sin estrés), etc. No hay alguna ecuación para esto, pero sí hay algo muy importante y es la calidad del alimento que te llevas a la boca,
                            la calidad de esas calorías.
                        </p>
                        <p>
                            Nuestros cuerpos responden de manera muy diferente dependiendo del alimento que consumes. Los procesos digestivos y las reacciones bioquímicas que desencadena
                            un alimento son distintas. Por ejemplo, 200 calorías de pan generan reacciones diferentes a las que ocasionan 200 calorías de plátano.
                        </p>
                        <p>
                            El pan no tiene micronutrientes, no tiene fibra suficiente, incrementa la insulina rápidamente, la inflamación y la leptina (hormona que hace sentir satisfacción),
                            es bloqueada, además si eres sensible al gluten, el pan te irá dañando la barrera intestinal y nuestras enzimas no están diseñadas para digerir productos procesados.
                        </p>
                        <p>
                            Mientras que el plátano tiene fibra, te hace sentir satisfecho, tiene micronutrientes que son indispensables para que el hígado trabaje eficientemente, es un
                            alimento que nos provee la naturaleza, que es libre de gluten y puedes digerir mucho mejor.
                        </p>
                        <p>
                            No es cuestión de “satanizar alimentos”, como dicen en tantas redes sociales, porque los procesados ni siquiera pueden llamarse alimentos, pues no te nutren, ni
                            significa que nunca en la vida los podrás volver a comer, significa que, si quieres estar saludable y lograr perder grasa de manera definitiva y sostenible, debes
                            enfocarte en alimentos reales y evitar los procesados.
                        </p>
                        <h2>
                            Así que ¡anímate, concéntrate en los nutrientes y no en las calorías!
                        </h2>
                        <p>
                            Cuenta las calorías si las quieres contar y tus macros, pero enfócate en la calidad de esas calorías. Cuando lo hagas, verás toda la energía que siente tu organismo,
                            toda la grasa que pierdes sin esfuerzo, que sientas como disminuyen tus antojos, como se embellece tu piel, sabrás que todo ha valido la pena.
                        </p>
                    </div>
                    <div class="button-combeback-posts">
                        <a href="@Url.Action("Blog", "FrontEnd")" class="btn-single-page">VOLVER AL BLOG</a>
                    </div>
                </article>
            </div>
        </section>

        <!-- Modal Agenda -->

        <div class="modal fade" id="modalagenda" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Agenda</h4>
                        <form id="frmAgenda" class="form-normal" action="~/Agenda/Create" method="post">
                            <div class="form-group">
                                <label>Rut</label>
                                <input type="text" id="rut" name="rut" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Nombre</label>
                                <input type="text" id="nombre" name="nombre" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" id="apellido" name="apellido" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Fecha de Nacimiento</label>
                                <input type="date" id="fechanac" name="fecha_nacimiento" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Número teléfono</label>
                                <input type="text" id="telefono" name="numero_tel" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" id="email" name="email" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Fecha cita</label>
                                <input type="date" id="fechcita" name="fecha_cita" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <label>Hora cita</label>
                                <input type="text" id="horacita" name="hora_cita" class="form-control" placeholder="">
                            </div>
                            <div class="form-group">
                                <input type="hidden" id="id_estado" name="id_estado" value="1" />
                            </div>
                        </form>
                    </div>
                    
                        <div class="modal-footer">
                            <input type="submit" id="btnSave" class="btn-a btn-default" data-dismiss="modal" value="Agregar" />
                        </div>
                    
                </div>
            </div>
        </div>
    </main>

    <footer id="footer">
        <div class="contenedor-c">
            <h2 class="titulo">Contacto</h2>
        </div>
        <div class="contenedor-footer">
            <div class="content-foot">
                <h4>Teléfono</h4>
                <p>+562 2222222</p>
            </div>
            <div class="content-foot">
                <h4>E-Mail</h4>
                <p>contacto@nutrilavida.cl</p>
            </div>
            <div class="content-foot">
                <h4>Ubicación</h4>
                <p>Santiago, Región Metropolitana</p>
            </div>
        </div>
        <h2 class="titulo-final"> &copy; 2020 - Todos los Derechos Reservados.</h2>
    </footer>


    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    @*<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>*@

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>

<script type="text/javascript">

    $('#btnSave').click(function(){
        //creamos el Objeto Agenda
        var agenda = {
        Id_Agenda : 0,
            Rut: $('#rut').val(),
            Nombre : $('#nombre').val(),
            Apellido:$('#apellido').val(),
            Fecha_Nacimiento: $('#fechanac').val(),
            Numero_Tel: $('#telefono').val(),
            Email:$('#email').val(),
            Fecha_Cita : $('#fechcita').val(),
            Hora_Cita : $('#hora').val(),
            Id_Estado : 1
        }
        console.log(agenda);
    //utilizamos Ajax para enviar el objeto al controlador que crea la Agenda

        $.ajax({
        url:'@Url.Action("Create","Agenda")',
        method:'post',
        data:agenda,

            success: function (r) {
                console.log(r.res);
         if(r.res == 1){
          alert("Agenda Creagada")
        }
        }
        });


    });

</script>

