@model IEnumerable<nutricion_examen.Models.Reporte>
@{
    Layout = null;
    ViewBag.Title = "getReport";
}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />


<div class="container">
    <div class="text-center">
        <h4>Reporte</h4>
        <br/>
    </div>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre Completo</th>
                    <th>IMC</th>
                    <th>Diagnostico</th>
                    <th>Fecha Atencion</th>
                    <th>Nutricionista</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.IMC</td>
                        <td>@item.Diagnostico</td>
                        <td>@item.Fecha_Creacion</td>
                        <td>@item.Nombre_Nutri</td>
                        </tr>
                        }
                   
                </tbody>
        </table>
    </div>
    <div>
        @*<form action="@Url.Action("Print","Reporte")" method="post">
            <input type="hidden" name="fecDes" value="01-07-2020" />
            <input type="hidden" name="fecHas" value="30-07-2020" />
            <button type="submit" class="btn btn-danger"><span class="fas fa-file-pdf"></span> Descargar en Pdf</button>
        </form>*@
    </div>
</div>

<script type="text/javascript">
    function pdf() {
        $.ajax({
        url: '@Url.Action("Print","Reporte")',
        type: 'Post',
        success: function () {
            alert("PDF Generado");
        }
    });
    }
</script>
