@model IEnumerable<nutricion_examen.Models.Agenda>

<div class="container mt-5">
    
        

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            Rut
        </th>
        <th>
            Nombre
        </th>
        <th>
           Apellido
        </th>
        <th>
            Fecha de Nacimiento
        </th>
        <th>
            Teléfono
        </th>
        <th>
            E-Mail
        </th>
        <th>
            Fecha Cita
        </th>
        <th>
            Hora Cita
        </th>
        <th>
           Estado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @item.Rut
        </td>
        
        <td>
            @item.Nombre
        </td>
        <td>
            @item.Apellido
        </td>
        <td>
            @item.Fecha_Nacimiento
        </td>
        <td>
            @item.Numero_Tel
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Fecha_Cita
        </td>
        <td>
            @item.Hora_Cita
        </td>
        <td>
            @item.Id_Estado
        </td>
        <td>
            @Html.ActionLink("Edit", "Create", new { id=item.Id_Agenda}) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>


    

</div>