@model nutricion_examen.Models.Agenda


<!-- right column -->
<div class="col-md-12 col-sm-6">
    <!-- general form elements disabled -->
    <div class="card card-warning">
        <div class="card-header">
            <h3 class="card-title">Generar Paciente</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form role="form" id="frmPaciente">
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Rut</label>
                            <input type="text" id="rut" name="rut" class="form-control" placeholder="" value="@Model.Rut">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Nombre</label>
                            <input type="text" id="nombre" name="nombre" class="form-control" placeholder="" value="@Model.Nombre">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Apellido</label>
                            <input type="text" id="apellido" name="apellido" class="form-control" placeholder="" value="@Model.Apellido">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Edad</label>
                            <input type="text" id="edad" name="edad" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Fecha de Nacimiento:</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input type="text" id="fechNac" name="fecha_nacimiento" class="form-control datetimepicker-input" data-target="#reservationdate" value="@Model.Fecha_Nacimiento"/>
                                <div class="input-group-append" data-target="#reservationdate" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Numero de Teléfono</label>
                            <input type="text" id="telefono" name="numero_tel" class="form-control" placeholder="" value="@Model.Numero_Tel">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Genero</label>
                            <input type="text" id="genero" name="genero" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Dirección</label>
                            <input type="text" id="direccion" name="direccion" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Comuna</label>
                            <input type="text" class="form-control" id="comuna" name="comuna" placeholder="Enter ...">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>E-Mail</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="email" name="email" placeholder="" value="@Model.Email">
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Prevision</label>
                            <input type="text" class="form-control" id="prevision" name="prevision">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Ocupación</label>
                            <input type="text" class="form-control" id="ocupacion" name="ocupacion">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <input type="hidden" id="id_agenda" name="id_agenda" value="@Model.Id_Agenda" />
                        </div>
                    </div>

                </div>
                <button type="button" id="btnGrabar" onclick="insertarPaciente()" class="btn btn-primary">Guardar...</button>
            </form>
            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
        <!-- /.card-body -->

    </div>

    <!-- /.card -->
</div>
<!--/.col (right) -->




@section scripts{
    <script type="text/javascript">
        //CARGA FUNCIONES AL ARRANCAR DOCUMENTO
        $(document).ready(function () {
            cargarSelect();


        });


        //FUNCIONES


        /**
         * Funcion que carga el select de las agendas
         */

        function cargarSelect() {
            $.ajax({
                url: '@Url.Action("ListaAgendas","Paciente")',
                type: 'get',
                dataType: 'json',
                success: function (data) {
                    var selecage = $('#agendas');
                    var datos = data.data;
                    //console.log(datos);
                    $(datos).each(function (i, a) {
                        selecage.append('<option value="' + a.Id_Agenda + '">' + a.Rut + ' ' + a.Nombre + ' ' + a.Apellido + ' </opcion>')
                    })
                }

            });

        }

        /*
         evrnto click del boton guardar
         */
        function insertarPaciente() {
            //quita la petición al servidor
            $('#btnGrabar').click(function (e) {
                e.preventDefault();
            });

            //juntar datos que contiene el formulario en una nueva variable
            var formData = new FormData(document.getElementById("frmPaciente"));


            //ejecutamos jQuery para enviar la informacion mediante Ajax
            $.ajax({
                url: '@Url.Action("Create","Paciente")',
                type: 'post',
                data: formData,
                contentType: false,
                processData: false,
                cache: false,
                success: function () {
                    alertify.success("Paciente Creado");
                }


            });


        }

    </script>

}