@model IEnumerable<nutricion_examen.Models.Nutricionista>


<div class="col-12">
    <div>
        <a href="@Url.Action("Create","Nutricionista")" class="btn btn-default"><i></i>Crear Nutricionista</a>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Lista de Nutricionistas</h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap" id="tblEstados">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Teléfono</th>
                        <th>E-Mail</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Rut</td>
                            <td>@item.Nombre @item.Apellido</td>
                            <td>@item.Edad</td>
                            <td>@item.Fecha_Nacimiento</td>
                            <td>@item.Numero_Tel</td>
                            <td>@item.Email</td>
                            <td>@item.Especialidad</td>

                            <td>
                                <span class="btn btn-warning" id="btnEdit" title="Edit" data-toggle="modal" data-target="#modal-default" onclick="traerNutricionista(@item.Id_Nutricionista)"><i class="fas fa-pen"></i></span> 
                                <span class="btn btn-danger" id="btnDelete" title="Delete" onclick="deleteNutri(@item.Id_Nutricionista)"><i class="fas fa-trash"></i></span>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>

<!--Section Modal Edit Data-->
<div class="modal fade bd-example-modal-lg" id="modal-default">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Actualiza Nutricionista</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="col-sm-4">
                        <!-- text input -->
                        <div class="form-group mb-3">
                            <input type="hidden" id="idNutriU"/>
                            <label>Rut</label>
                            <input type="text" id="rutU" name="rut" class="form-control" placeholder="Ej: 123456789">
                        </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group mb-3">
                                <label>Nombre</label>
                                <input type="text" id="nombreU" name="nombre" class="form-control" placeholder="">
                            </div>
                        </div>

                    </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Apellido</label>
                            <input type="text" id="apellidoU" name="apellido" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Edad</label>
                            <input type="text" id="edadU" name="edad" class="form-control" placeholder="Ej: 30">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Fecha de Nacimiento</label>
                            <div class="input-group date" id="reservationdate" data-target-input="nearest">
                                <input type="text" id="fechNacU" name="fecha_nacimiento" class="form-control datetimepicker-input" data-target="#reservationdate" />

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Numero de Teléfono</label>
                            <input type="text" id="telefonoU" name="numero_tel" class="form-control" placeholder="ej:56912345678" />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>E-Mail</label>
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="fa fa-envelope"></i>
                                    </span>
                                </div>
                                <input type="email" class="form-control" id="emailU" name="email" placeholder="Ej:ej@ej.cl" />
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Especialidad</label>
                            <input type="text" class="form-control" id="especialidadU" name="especialidad">
                        </div>
                    </div>
                </div>


                </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnSave" class="btn btn-primary" onclick="updateNutricionista()" data-dismiss="modal">Grabar Cambios</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->


@section scripts{
    <script type="text/javascript">
        //traemos al nutricionista seleccionado
        function traerNutricionista(id) {
            //console.log(id);

            $.ajax({
                url: '@Url.Action("Details","Nutricionista")',
                type: 'get',
                data: 'id=' + id,
                success: function (r) {
                    datos = r.res;
                    $(datos).each(function (i, n) {
                        $('#idNutriU').val(n.Id_Nutricionista);
                        $('#rutU').val(n.Rut);
                        $('#nombreU').val(n.Nombre);
                        $('#apellidoU').val(n.Apellido);
                        $('#edadU').val(n.Edad);
                        $('#fechNacU').val(n.Fecha_Nacimiento);
                        $('#telefonoU').val(n.Numero_Tel);
                        $('#emailU').val(n.Email);
                        $('#especialidadU').val(n.Especialidad);
                    });
                }
            });
        }


        //enviamos los datos para su actualizacion
        $('#btnSave').click(function (e) {
            e.preventDefault();
        });

        //funcion ejecutada desde el evento onclick del boton btnSave
        function updateNutricionista() {

            var nutricionista = {
                Id_Nutricionista: $('#idNutriU').val(),
                Rut: $('#rutU').val(),
                Nombre: $('#nombreU').val(),
                Apellido: $('#apellidoU').val(),
                Edad: $('#edadU').val(),
                Fecha_Nacimiento: $('#fechNacU').val(),
                Numero_Tel: $('#telefonoU').val(),
                Email: $('#emailU').val(),
                Especialidad: $('#especialidadU').val()
            }

            $.ajax({
                url: '@Url.Action("Create","Nutricionista")',
                type: 'post',
                data: nutricionista,
                success: function (r) {
                    if (r.res == 1) {
                        alertify.success("Nutricionista Actualizado Corréctamente!");
                    } else {
                        alertify.error("No se pudo Actualizar... Error: " + r.res);
                        console.log(r.res);
                    }
                }
            });


        }

        //funcion que elimina nutricionista

            function deleteNutri(id) {
                //console.log(id);
            $.ajax({
                url: '@Url.Action("Delete", "Nutricionista")',
                type: 'post',
                data: 'id=' + id,
                success: function (r) {
                    if (r.res == 1) {
                        location.reload();
                        alert("Nutricionista Eliminado");
                        
                    } else {
                        console.log(r.res)
                    }
                }

            });

            }

    </script>
}
