@model IEnumerable<nutricion_examen.Models.Nutricionista>


<div class="col-12">
    <div>
        <a href="@Url.Action("Create","Nutricionista")" class="btn btn-default"><i></i>Nuevo</a>
    </div>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Lista de Estados</h3>

            <div class="card-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                    <div class="input-group-append">
                        <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0" style="height: 300px;">
            <table class="table table-head-fixed text-nowrap" id="tblEstados">
                <thead>
                    <tr>
                        <th>Rut</th>
                        <th>Nombre</th>
                        <th>Edad</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Teléfono</th>
                        <th>E-Mail</th>
                        <th>Especialidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Rut</td>
                            <td>@item.Nombre @item.Apellido</td>
                            <td>@item.Edad</td>
                            <td>@item.Fecha_Nacimiento</td>
                            <td>@item.Numero_Tel</td>
                            <td>@item.Email</td>
                            <td>@item.Especialidad</td>

                            <td>
                                <span class="btn btn-danger" title="Edit"><i class="fas fa-pen"></i></span> |
                                <span class="btn btn-danger" title="Delete"><i class="fas fa-trash-alt"></i></span>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
